body {
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  background-color: gray;
  margin: 0;
}

div {
  display: block;
}

/* Header Section */
.nav {
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  text-align: left;
  background-color: teal;
  width: 100%;
}

.nav a {
  display: inline-block;
  padding: 0 1.5rem;
}

@media only screen and (max-width: 480px) {
  .nav {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .nav {
    text-align: center;
  }

  .summary {
    text-align: center;
  }

  .quote {
    text-align: center;
  }
}

/* Header Section */

.header {
  height: 10rem;
}

.header .content {
  width: 100%;
  background-color: white;
}


/* Summary Section */
.summary {
  text-align: left;
  margin: 1rem;
  margin-bottom: 3rem
}




/* Room Section */
.room-container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.room-container .content img {
  width: 80%;
}


/* Quote Section */

.quote {
  height: 20rem;
  background-color: aqua;
}

.quote .content {
  text-align: left;
  padding-left: 1rem;
  padding-top: 2rem;
}

.quote .content h1 {
  font-size: 3rem;
}

/* Noodles Section */

.noodles-container {
  padding-top: 3rem;
}

.noodles-container .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.noodles-container .content img {
  width: 20rem;
  height: 25rem;
}

@media only screen {

  .noodles-container .content img{
    width: 80%;
  }

}

/* Logo Section */

.logo .content {
  font-size: 1.5rem;
}

@media only screen and (max-width: 760px) {

  .logo .content img {
    width: 80%;
  }

}

